<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

        <title>Ultimate Mars News</title>
    </head>

    <body>
        <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"></h1>
                <p class="lead">by @joelsotelods</p>
            </div>
        </div> -->



        <div class="container text-center">
            <h1 class="jumbotron">Ultimate Mars News</h1>

            <h2 href="{{ mars_data["posts_list"][0]["news_link"] }}">{{ mars_data["posts_list"][0]["news_title"] }}</h2>
            <h4>{{ mars_data["posts_list"][0]["news_p"] }}</h4>
  
        </div>

        <br><br>

        
        
        <div class="container">
        <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="text-center">
                        <h3>Featured Mars Image</h3>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="text-center">
                        <img src="{{ mars_data['featured_image_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
     
        <br>

        
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="text-center">
                        {{ mars_data['mars_weather'] }}
                    </div>
                </div>
                <div class="col-5">
                    {{ space_facts }}
                </div>
                <div class="col-1"></div>
            </div>
        </div>

 
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>Enhanced</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][1]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][3]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][5]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][7]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>Unenhanced</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][0]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][2]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][4]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

                <div class="col-6">
                    <div class="text-center">
                        <img src="{{ mars_data['hemisphere_image_urls'][6]['img_url'] }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            
        </div>
        <br>

            <br>
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>API endpoints</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">Scrape</div>
                <div class="col-4">Scrape the information.</div>
                <div class="col-4">/scrape</div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">Get the data</div>
                <div class="col-4">Get the JSON of the data.</div>
                <div class="col-4">/data</div>
            </div>
        </div>


        <br><br><br>


        <br><br><br>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    </body>
</html>
